/* By Oliver Liang */
div.bg {
    background: url(../img/background.jpg) top right no-repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -999;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 767px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

body {
    font-family: Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > .container {
    margin-top: 50px;
    margin-bottom: 60px;
    color: #ffffff;
}

body > .container > .frontpage:first-of-type {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #5cbcff;
}

.upper {
    text-transform: capitalize;
}

.background-light {
    background-color: rgba(255, 255, 255, 0.80);
}

.main-body {
    background: rgba(12, 12, 12, 0.9);
    border-radius: 10px;
    margin-left: 0;
    padding: 20px 30px 20px 30px;
}

#name {
    color: #ffffff;
    font-size: 110px;
    line-height: 110px;
    text-shadow: 1px 1px 1px rgba(193, 193, 193, 0.97);
}

img.profile {
    float: right;
    max-width: 220px;
    margin: 10px 30px 10px 30px;
    border: 5px solid #ffffff;
    box-shadow: 1px 1px 1px rgba(193, 193, 193, 0.97);
    -moz-box-shadow: 1px 1px 1px rgba(193, 193, 193, 0.97);
    -webkit-box-shadow: 1px 1px 1px rgba(193, 193, 193, 0.97);
}

ul.social-list {
    list-style-type: none;
    height: 32px;
    padding-top: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

ul.social-list > li {
    float: left;
    margin: 0 20px 0 0;
}

ul.social-list > li > a {
    display: block;
    width: 32px;
    height: 32px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: #000000;
    background-color: #0297FE;
}

.nav-pills a:hover {
    color: #0297FE;
}

/*navbar stuff*/
.navbar-inverse .navbar-inner {
    background-color: rgba(12, 12, 12, 0.9);
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
    border-color: rgba(21, 21, 21, 0.29);
}

.navbar .main > li > a {
    font-size: 20px;
    font-weight: 200;
}

.navbar .main > li > a.active {
    font-size: 20px;
    font-weight: 200;
    text-decoration: underline;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 1200px) {
    #name {
        font-size: 90px;
        line-height: 90px;
    }

    ul.social-list > li {
        float: left;
        margin: 0 13px 0 0;
    }
}

@media (max-width: 979px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .navbar .nav li .about {
        float: none;
    }

    .span4 .social {
        width: 300px;
    }

    #name {
        font-size: 90px;
        line-height: 90px;
    }

    .main-body {
        min-width: 300px;
    }

    ul.social-list > li {
        float: left;
        margin: 0 11px 0 0;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar .nav li .about {
        float: none;
    }

    body > .container {
        margin-top: 20px;
    }

    body > .container > .frontpage:first-of-type {
        padding-left: 0;
        padding-right: 0;
    }

    .main-body {
        max-width: 474px;
        width: 100%;
    }

    .row {
        margin-left: 20px;
    }

    img.profile {
        float: none;
    }

    body > .container {
        margin-left: -20px;
        margin-right: -20px;
    }

    ul.social-list > li {
        float: left;
        margin: 0 15px 0 0;
    }
}

@media (max-width: 494px) {
    .row {
        margin-left: 0;
    }

    .main-body {
        max-width: none;
    }
}

@media (max-width: 330px) {
    .main-body {
        padding-left: 10px;
        padding-right: 10px;
    }
}
